.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.products-right-container {
    width: 100%;
}

.products-item {
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 15px;
    cursor: pointer;
    transition: 0.5s ease;
}

.products-item-title {
    margin: 15px 0;
}

.products-item-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.products-item-price {
    color: rgb(192, 3, 3);
}

.products-item:hover {
    transform: scale(1.03)
}

@media screen and (max-width: 1750px) {
    .products-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1000px) {
    .products-container {
        grid-template-columns: repeat(1, 1fr);
    }
}